*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

/* menu font */
nav {
    font-family: "Cascadia Code", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* large screen menu */
.lg-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 0.5rem 1rem;
}

.lg-logo img {
    width: 50px;
    height: 50px;
}

.lg-menu {
    display: flex;
    gap: 20px;
}

.lg-menu li {
    list-style-type: none;
    background-color: #bbb;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.lg-menu li:hover {
    background-color: rgb(211, 210, 210);
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.lg-menu li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}


/* small screen menu */
.sm-menu-container {
    display: none;
}

/* sm-logo-menuBtn-container */
.sm-logo-menuBtn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 0.5rem 1rem;
}

.sm-logo img {
    width: 50px;
    height: 50px;
}

.menu-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.menu-buttons:hover {
    border: 3px solid black;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.close-btn i {
    display: none;
}

.sm-menu {
    overflow: hidden;
    max-height: 0;
    opacity: 1;
    transition: max-height 1s ease, opacity 1s ease;
    background-color: antiquewhite;
    pointer-events: none;
}

.show {
    max-height: 450px;
    opacity: 1;
}

.sm-menu li {
    list-style-type: none;
    text-align: left;
    background-color: rgb(231, 231, 231);
    border: 1px solid #bbb;
    margin-bottom: 1px;
    padding: 0.5rem 1rem;
}

.sm-menu li a {
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.sm-menu li a:hover {
    text-decoration: underline;
    transition: all 1s;
    padding-bottom: 5px;
}


/* toggle button */
.switch-container {
    position: relative;
    background-color: red;
    display: block;
    width: 60px;
    height: 34px;
    border-radius: 50px;
}

.switch-container input {
    opacity: 0;
    height: 0;
    width: 0;
}

.slider-btn {
    background-color: #ccc;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 3s;
    border-radius: 50px;
}

.slider-btn::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    background: #fff;
    top: 4px;
    left: 4px;
    transition: 1s;
}

.switch-container input:checked+.slider-btn {
    background-color: red;
}

.switch-container input:checked+.slider-btn::before {
    transform: translateX(26px);
}

/* media query breakpoint */
@media screen and (max-width: 700px) {
    .lg-menu-container {
        display: none;
    }

    .sm-menu-container {
        display: block;
    }
}